In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib
%matplotlib inline
import seaborn as sns

In [2]:
data = pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding='latin-1')

In [3]:
data

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [4]:
data.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [21]:
data.groupby('Item').sum()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Item,,,,,,,,
"Alcohol, Non-Food",38447,752497,1515090,2403.00,2180.00,2223.00,2348.00,2293.00
Alcoholic Beverages,75016,1649136,2171381,102410.11,98783.72,96958.75,95581.06,97847.27
Animal Products,18060,397035,90990,11935.65,11811.73,11661.69,11547.65,11578.61
Animal fats,85279,1882494,2567303,209460.54,200675.72,183314.22,269617.53,269648.27
Apples and products,69280,1352989,1920418,9499.23,10559.15,9853.26,10198.90,9640.51
...,...,...,...,...,...,...,...,...
"Vegetables, Other",77779,1518715,2275409,155038.96,158104.08,156218.90,157752.59,163987.21
Vegetal Products,18060,391905,90990,107145.19,107064.17,106792.72,107655.20,107775.39
Wheat and products,87073,1639683,2654934,232670.13,234710.51,239377.07,240047.62,242645.19
Wine,66206,1319535,1818328,4497.36,4251.81,3872.09,4178.02,4039.32
Yams,50798,970905,1525745,200396.96,203151.78,220626.20,229174.59,221272.09

In [22]:
data.isnull().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [25]:
data.isnull().sum()*100/len(data)

Area Code       0.000000
Area            0.000000
Item Code       0.000000
Item            0.000000
Element Code    0.000000
Element         0.000000
Unit            0.000000
Y2014           2.607354
Y2015           2.540078
Y2016           2.518747
Y2017           2.471162
Y2018           2.356300
dtype: float64

In [27]:
data.corr()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Area Code,1.000000,-0.005159,-0.000209,0.006164,0.005472,0.005247,0.005006,0.005665
Item Code,-0.005159,1.000000,-0.024683,0.021722,0.020857,0.020109,0.021494,0.021314
Element Code,-0.000209,-0.024683,1.000000,0.024457,0.023889,0.023444,0.024254,0.024279
Y2014,0.006164,0.021722,0.024457,1.000000,0.994647,0.996081,0.995230,0.994872
Y2015,0.005472,0.020857,0.023889,0.994647,1.000000,0.995739,0.988048,0.988208
Y2016,0.005247,0.020109,0.023444,0.996081,0.995739,1.000000,0.992785,0.992757
Y2017,0.005006,0.021494,0.024254,0.995230,0.988048,0.992785,1.000000,0.998103
Y2018,0.005665,0.021314,0.024279,0.994872,0.988208,0.992757,0.998103,1.000000

In [37]:
data.groupby('Element').sum()['Y2018']

Element
Domestic supply quantity                  2161192.10
Export Quantity                            181594.80
Fat supply quantity (g/capita/day)          10258.69
Feed                                       233489.68
Food                                      1303841.28
Food supply (kcal/capita/day)              455261.00
Food supply quantity (kg/capita/yr)         49056.85
Import Quantity                            287997.09
Losses                                     163902.00
Other uses (non-food)                       91300.97
Processing                                 308429.00
Production                                2075072.89
Protein supply quantity (g/capita/day)      11833.56
Residuals                                   34864.00
Seed                                        25263.14
Stock Variation                             20577.91
Total Population - Both sexes             1140605.00
Tourist consumption                            90.00
Name: Y2018, dtype: float64

In [38]:
data.groupby('Element').sum()['Y2018'].sort_values()

Element
Tourist consumption                            90.00
Fat supply quantity (g/capita/day)          10258.69
Protein supply quantity (g/capita/day)      11833.56
Stock Variation                             20577.91
Seed                                        25263.14
Residuals                                   34864.00
Food supply quantity (kg/capita/yr)         49056.85
Other uses (non-food)                       91300.97
Losses                                     163902.00
Export Quantity                            181594.80
Feed                                       233489.68
Import Quantity                            287997.09
Processing                                 308429.00
Food supply (kcal/capita/day)              455261.00
Total Population - Both sexes             1140605.00
Food                                      1303841.28
Production                                2075072.89
Domestic supply quantity                  2161192.10
Name: Y2018, dtype: float64

In [44]:
data.groupby(['Element', 'Area']).sum().loc['Import Quantity']

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Area,,,,,,,,
Algeria,448,301030,628432,34940.12,37841.91,36736.08,36059.29,36238.29
Angola,812,311064,650876,10185.60,7603.99,6518.47,8425.67,7769.67
Benin,5936,300828,628432,5926.63,4710.38,5937.21,7355.24,7008.24
Botswana,2320,311265,650876,1642.42,1772.50,1829.84,1827.42,1908.42
Burkina Faso,27028,311064,650876,1965.81,2293.43,2225.42,2201.64,2605.64
Cabo Verde,3990,305966,639654,419.02,432.06,450.75,511.66,499.66
Cameroon,3680,308527,645265,4183.59,4298.72,4227.09,4812.88,4188.88
Central African Republic,4033,292331,611599,105.35,79.95,86.78,200.02,75.02
Chad,4212,290921,605988,581.16,582.52,605.32,512.95,491.95
Comoros,405,24911,50499,1.41,1.10,1.89,2.92,2.92
Congo,5336,311311,650876,1430.62,1689.22,1858.35,1836.27,1785.27
CÃ´te d'Ivoire,12519,313846,656487,6248.58,7263.92,7919.49,8512.21,9271.21
Djibouti,7992,297940,622821,2923.27,3488.84,2998.26,3252.92,3784.92
Egypt,6903,313846,656487,53204.18,51589.54,53710.73,52405.20,53954.20
Eswatini,24244,311265,650876,753.05,751.86,811.90,887.53,936.53
Ethiopia,27370,308668,645265,5090.56,6845.49,8827.95,5934.24,5655.24
Ethiopia PDR,310,13835,28055,0.00,0.00,0.00,0.00,0.00
Gabon,8436,305946,639654,1030.05,1139.13,1072.69,1026.75,1079.75
Gambia,7875,282017,589155,903.75,899.08,961.78,1061.10,1212.10
Ghana,9396,311265,650876,6847.80,7393.24,6705.11,9475.68,9914.68
Guinea,10170,303130,634043,4060.06,3334.65,3868.34,3751.95,4707.95
Guinea-Bissau,18025,276852,577933,320.36,322.55,355.51,546.72,497.72
Kenya,13110,308496,645265,8892.65,8785.91,9157.71,14351.96,11188.96
Lesotho,14030,308522,645265,1052.37,948.98,1095.72,1573.97,1016.97
Liberia,14022,306172,639654,961.94,1036.23,1011.23,1307.77,1203.77
Madagascar,14319,297945,622821,2010.71,1721.80,1901.47,3139.79,3214.79
Malawi,15210,313846,656487,561.07,803.85,1174.31,693.20,520.20
Mali,14896,300397,628432,1797.34,2218.87,2536.58,3042.06,1962.06
Mauritania,14824,292967,611599,2907.54,3358.97,3314.25,3444.74,3575.74
Mauritius,15618,306118,639654,1733.17,1793.13,1740.08,1940.39,1672.39
Morocco,16731,313846,656487,21945.43,17385.65,24069.10,19740.50,19448.50
Mozambique,16704,311077,650876,4182.44,4992.46,4419.20,5934.03,5552.03
Namibia,16905,308522,645265,3146.16,1969.86,2036.32,1783.04,1462.04
Niger,18170,308507,645265,2128.37,2340.90,2224.23,2324.20,2390.20
Nigeria,18444,311328,650876,26490.64,21938.00,21144.31,25123.38,21923.38
Rwanda,21528,313846,656487,1230.95,1096.29,1242.61,1736.44,1734.44
Sao Tome and Principe,20458,284556,594766,88.19,85.14,88.18,84.10,84.10
Senegal,22815,313846,656487,6296.39,6914.78,6413.71,8129.24,8005.24
Seychelles,2156,30455,61721,67.66,68.34,75.96,77.71,77.71
Sierra Leone,21473,292888,611599,1397.42,1697.82,1224.89,1825.22,1659.22
South Africa,23230,308522,645265,15108.48,13113.69,22075.77,17471.45,16192.45
Sudan,31464,305937,639654,8726.34,7809.23,7593.93,6747.11,9130.11
Sudan (former),1854,24904,50499,0.00,0.00,0.00,0.00,0.00
Togo,23219,287459,600377,1202.06,1556.36,1405.23,1846.48,3625.48
Tunisia,24420,295593,617210,9416.85,10673.47,11839.74,11704.91,11030.91
Uganda,26442,313846,656487,2626.59,2592.74,2797.68,3532.87,3209.87
United Republic of Tanzania,24510,305967,639654,4162.87,3591.45,3677.25,3341.68,1863.68
Zambia,29367,313846,656487,756.88,946.43,960.38,978.75,990.75
Zimbabwe,20815,308730,645265,2490.58,3244.03,3653.98,2083.84,1673.84

In [46]:
len(data.Area.unique())

49

In [51]:
array =np.asarray([[94, 89, 63],[93, 92, 48],[92, 94, 56]])

In [52]:
array[:2,1:]

array([[89, 63],
       [92, 48]])